@model FedChoice_Bank.Models.Account
@{
    ViewData["Title"] = "DeleteSearch";
}

<h1>DeleteSearch</h1>
<div>
    <table align="center">
        <tr>
            <th><h3>Search</h3></th>
        </tr>
        <tr>
            <td>
                <div class="form-group">

                    <form asp-controller="Accounts" asp-action="Delete" method="get">
                        <p align="center">
                            Enter Account ID: <input type="text" name="Id" />

                        </p>

                        <p align="center">
                            Enter Account Type: <input type="text" name="type" />

                        <p>

                            <input type="submit" value="Search" />

                    </form>

                </div>
            </td>
        </tr>
        @ViewBag.message|
        @ViewBag.ErrorMessage|
    </table>

    <a asp-action="Index">Back to Account Home</a>
</div>


