@model FedChoice_Bank.Models.Account
@{
    ViewData["Title"] = "DeleteSearch";
}




<div class="divCenter2">
    <form asp-controller="Accounts" asp-action="Delete" method="get">
        <table class="tableDesign">
            <tr>
                <td>
                    <div class="form-group">

                        <table class="tableDesignVeryShort" align="center">
                            <tr>
                                <td colspan="2" class="tdDesign"><h3 class="h3Design">Delete Account Search</h3></td>
                            </tr>
                            <tr>

                                <td><label class="control-label">Enter AccountID: </label></td>
                                <td><input name="Id" type="text" class="form-control" /></td>

                            </tr>
                            <tr>

                                <td><label class="control-label">Enter AccountType: </label></td>
                                <td><input name="Id" type="text" class="form-control" /></td>

                            </tr>
                            <tr>

                                <td class="tdButtonDesign" colspan="2">
                                    <span class="form-group">
                                        <input type="submit" value="Delete" class="buttonDesign" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdDesignValidate"><span> @ViewBag.message</span></td>
                                <td class="tdDesignValidate"><span> @ViewBag.ErrorMessage</span></td>
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
