@model IEnumerable<FedChoice_Bank.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>|
    <a asp-action="Search">Search Account</a>|
    <a asp-action="DeleteSearch">Delete Account</a>
</p>
