@model IEnumerable<FedChoice_Bank.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layouttwo.cshtml";

}

<div class="divCenter">
    <table class="tableDesign">
        <tr>
            <td><h3 class=" h3Design">Welcome to FedChoice Bank</h3></td>

        </tr>
        <tr>
            <td><img src="~/css/images/happyhelp.png" class="imgHome" /></td>
        </tr>
    </table>
</div>