@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to FedChoice Bank</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            FedChoice Bank was founded on 14th june 2016 with the objective of providing
            with the detail services based on retail Banking operations.The Retail Internet
            Banking of FedCoice Bank offers a plethora of products and services,to serve 
            its customers by providing certain services with an easy offers and ways to do the required.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            Retail and Customer Banking
            Personal Internet Banking
            Corporate Internet Banking
            Debit and Credit Cards
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>
            Email:customer.service@gmail.com
            Contact No 02242406778
            Address:Corporate Office,Madore cana Road
            Mumbai,Maharashtra,40002
        </p>
    </div>
</div>
