@model IEnumerable<FedChoice_Bank.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>|
    <a asp-action="Search">Search Customer</a>|
    <a asp-action="EditSearch">Edit Customer</a>|
    <a asp-action="DeleteSearch">Delete Customer</a>
</p>


