@model IEnumerable<FedChoice_Bank.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

    <div class="divCenter">
        <table class="tableDesign">
            <tr>
                <td><h3 class=" h3Design">Welcome to FedChoice Bank</h3></td>

            </tr>
            <tr>
                <td><img src="~/css/images/happyhelp.png" class="imgHome" /></td>
            </tr>
        </table>
    </div>
