@model FedChoice_Bank.Models.Customer
@{
    ViewData["Title"] = "Search";
}


<div class="divCenter2">
    <table class="tableDesign">
        <tr>
            <td>
                <div class="form-group">
                    <form asp-controller="Customers" asp-action="Details" method="get">
                        <table class="tableDesignVeryShort" align="center">
                            <tr>
                                <td colspan="3" class="tdDesign"><h3 class="h3Design">Search</h3></td>
                            </tr>
                            <tr>

                                <td><label class="control-label">Enter Customer ID: </label></td>
                                <td><input name="Id" type="text" class="form-control" /></td>
                                <td class="tdButtonDesign" colspan="2">
                                    <span class="form-group">
                                        <input type="submit" value="Search" class="buttonDesign" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center"><strong>OR</strong></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <form asp-controller="Customers" asp-action="DetailsSSN" method="get">
                        <table class="tableDesignVeryShort" align="center">
                            <tr>

                                <td><label class="control-label">Enter Customer SSNID: </label></td>
                                <td><input name="Id" type="text" class="form-control" /></td>
                                <td class="tdButtonDesign" colspan="2">
                                    <span class="form-group">
                                        <input type="submit" value="Search" class="buttonDesign" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="tdDesignValidate"><span> @ViewBag.ErrorMessage</span></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
