:root {
    --dark: #293462;
    --light: #f6f5f5;
    --secDark: #4592af;
    --secLight: #ffc107;
}


/* For Layout Page of Customer Executive */
body {
    margin-left: 0;
    margin-right: 0;
}

.logo {
    background-color: var(--dark);
}

.logoheading {
    padding-top: 12px;
    padding-left: 12%;
    padding-bottom: 2px;
    font-size: 40px;
    color: var(--secLight);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.logoheading_two {
    color: var(--light);
    margin-bottom: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navul {
    width: 75%;
    margin: auto;
    height: 45px;
}

.divBottom {
    position: absolute;
    background-color: var(--dark);
    width: 100%;
    overflow-y: auto;
}

.h4Bottom {
    color: var(--secLight);
}

.pBottom {
    color: var(--light);
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-size: 12px;
}

.hrBottom {
    background-color: var(--secLight);
    margin-top: 0;
    height: 1px;
}

.tableBottom {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    width: 70%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.tdBottom {
    padding-right: 20px;
}


.spanBottom1 {
    color: var(--light);
    font-size: 14px;
    margin-left: 200px;
}

.spanBottom2 {
    color: var(--secLight);
    font-size: 14px;
}

.footerTable {
    margin-left: 400px;
    display: inline;
}

.imgBottom {
    height: 20px;
    width: 20px;
}



/*  Common to all  */
.tableDesign {
    height: 400px;
    width: 700px;
    padding: 20px;
}

.tableDesignShort {
    height: 300px;
    width: 700px;
    padding: 20px;
}

.tableDesignVeryShort {
    height: 200px;
    width: 700px;
    padding: 20px;
}

.divCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.divCenter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tdDesign {
    height: 20px;
    width: 150px;
    text-align: left;
    padding: 2px;
}

.tdDesign2 {
    height: 20px;
    width: 200px;
    text-align: left;
    padding: 2px;
}

.tdDesignValidate {
    height: 20px;
    width: 300px;
    text-align: left;
    padding: 2px;
}

.tdButtonDesign {
    height: 20px;
    width: 100px;
    text-align: center;
    padding: 2px;
}

.labelStrong {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.h3Design {
    padding-top: 12px;
    padding-left: 5%;
    padding-bottom: 20px;
    font-size: 40px;
    color: var(--dark);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.buttonDesign {
    background-color: var(--secLight);
    color: var(--dark);
    font-weight: bold;
    margin: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
}
.buttonDesign2 {
    color: var(--secLight);
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-align: center;
}

/*  For Login Table */
.tableLogin {
    height: 250px;
    width: 300px;
    border: 2px solid var(--dark);
}

.thLogin {
    background-color: var(--dark);
    color: var(--light);
    height: 20px;
    padding-left: 20px;
}
.thStatus {
    background-color: var(--secLight);
    color: var(--dark);
    height: 20px;
}

.tdLogin {
    height: 50px;
    text-align: center;
}

.inputLogin {
    height: 40px;
    width: 270px;
    padding: 10px;
}

.divTableLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}


.trStatus{
    background-color:var(--secLight);
}

.imgHome{
    width:300px;
    height:300px;
    align-self:center;
    margin-left:50px;
}